<aside class="sidebar p-3">
  <div class="logo d-flex align-items-center mb-4">
    <app-icon name="mortarboard-fill" customClass="me-2 fs-4"></app-icon>
    <span class="fw-bold fs-5">EduEval</span>
  </div>

  <nav class="nav flex-column">
    <ng-container *ngFor="let item of navItems; let i = index">
      <app-sidebar-nav-item
        [icon]="item.icon"
        [label]="item.label"
        [route]="item.route"
        [ngClass]="item.extraClass"
        [class.logout-item]="item.label === 'Cerrar Sesión'"
      >
      </app-sidebar-nav-item>
    </ng-container>
  </nav>
</aside>

