<div class="table-responsive">
  <table class="table table-bordered table-striped align-middle">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Descripción</th>
        <th>Nivel</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let competencia of competencias">
        <td>{{ competencia.id }}</td>
        <td>{{ competencia.descripcion }}</td>
        <td class="text-capitalize">{{ competencia.nivel }}</td>
        <td>
          <app-action-buttons [id]="competencia.id" [rutaRA]="rutaRA" [rutaVer]="rutaVer" [rutaEditar]="rutaEditar"
            (onDelete)="onDelete.emit($event)">
          </app-action-buttons>
        </td>
      </tr>
    </tbody>
  </table>
</div>