<div class="mb-3">
  <label *ngIf="label" class="form-label">{{ label }}</label>
  <select
    class="form-select"
    [(ngModel)]="value"
    [name]="name"
    [required]="required"
    #model="ngModel"
    (blur)="onTouched()"
    (ngModelChange)="onChange(value)"
    [ngClass]="{ 'is-invalid': model.invalid && (model.touched || model.dirty) }"
  >
    <option value="" disabled selected>Seleccione una opción</option>
    <option *ngFor="let opt of options" [ngValue]="opt.value">
      {{ opt.label }}
    </option>
  </select>
  <div *ngIf="model.invalid && (model.touched || model.dirty)" class="invalid-feedback">
    <div *ngIf="model.errors?.['required']">Este campo es obligatorio.</div>
  </div>
</div>