<div class="text-center">
      <button class="btn btn-outline-info btn-sm me-1"
              [routerLink]="['/programa/ver', id]">
        <app-icon name="eye"></app-icon>
      </button>

      <button class="btn btn-outline-warning btn-sm me-1"
              [routerLink]="['/programa/editar', id]">
        <app-icon name="pencil"></app-icon>
      </button>

      <button class="btn btn-outline-success btn-sm me-1"
              [routerLink]="['/programa/ra', id]"
              title="Agregar resultado de aprendizaje">
        RA
      </button>

      <button class="btn btn-outline-danger btn-sm"
              (click)="onDelete.emit(id)">
        <app-icon name="trash"></app-icon>
      </button>
    </div>