<div class="login-wrapper">
  <div class="logo-floating scale-up">
    <app-icon name="mortarboard-fill" customClass="icon"></app-icon>
    <span class="brand">EduEval</span>
  </div>

  <div class="login-container animate login-card">
    <h3>Inicio de sesión</h3><br>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <input
        type="text"
        [(ngModel)]="username"
        name="username"
        placeholder="Nombre de usuario"
        required
        class="form-control mb-3"
      />

      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Contraseña"
        required
        class="form-control mb-3"
      />

      <div *ngIf="error" class="text-danger mb-3">
        {{ error }}
      </div>

      <button type="submit" class="btn btn-primary w-100">Ingresar</button>
    </form>
  </div>
</div>
