<div class="container mt-4">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Agregar Resultados de Aprendizaje</h2>
        <app-button
          btnClass="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#modalRA"
        >
          <i class="bi bi-plus-lg me-1"></i> Nuevo Resultado de Aprendizaje
        </app-button>
      </div>

      <app-fecha-filtro
        [fecha]="fecha"
        (fechaChange)="fechaChange.emit($event)"
      />
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Añade RA de otros semestres!</h3>
      </div>

      <app-ra-table
        [resultados]="resultados"
        (anadirRa)="anadirRa.emit($event)"
      />

      <app-ra-modal-form (crear)="crearRa.emit($event)" />
    </div>